<html>
    <head>
         <title>
            Manish Agarwal
         </title>
        <meta name="description" content="A CS undergradute from Kolkata, India. Welcome to my personal homepage.">
        <meta name="keywords" content="Manish Agarwal">
        <link href='{{url_for('static', filename='style.css')}}' rel='stylesheet' type='text/css' />
        <link href='http://fonts.googleapis.com/css?family=Codystar:300,400' rel='stylesheet' type='text/css'>
        <link rel="shortcut icon" href="images/favicon.ico">

    </head>
    <body id='home'>

        <div id='all_content'>
            <div id='container'>
                <div class="circular-image"></div>
                <h1> 
                    Hey, my name is Manish 
                </h1>
                <p>
                    I am an undergraduate from <a href='http://http://www.wbutech.net/' target='_'>WBUT</a>, where I study Computer Science. 
                    I'm particularly interested in upcoming technologies and startups surrounding them. 
                </p>
                <p>
                    I want to build my career in the field of Data Science and Machine Learning and is actively looking for opportunities in this field.</p>
                    <p>
                    To contact, shoot me an email at <a href="mailto:ma@gmail.comnishrocksag">manishrocksag@gmail.com</a>. 
                    Here are my <a href='http://github.com/manishrocksag' target='_'>Github</a> and
                    <a href='http://in.linkedin.com/in/manishrocksag/' target='_'>LinkedIn</a> accounts.
                
                <p>
                    This site is written in Python and hosted on Heroku. 
                    The full source is hosted <a href='https://github.com/manishrocksag/mysite' target='_'>here</a>.
                </p>
            </div>
        </div>
    </body>
</html> 

