<html>

<head>
    <title>
        Manish Agarwal
    </title>
    <meta name="description" content="A CS undergradute from Kolkata, India. Welcome to my personal homepage.">
    <meta name="keywords" content="Manish Agarwal">
    <link href='{{url_for('static', filename='style.css')}}' rel='stylesheet' type='text/css' />
    <link href='http://fonts.googleapis.com/css?family=Codystar:300,400' rel='stylesheet' type='text/css'>
    <link rel="shortcut icon" href="images/favicon.ico">

</head>

<body id='home'>

    <div id='all_content'>
        <div id='container'>
            <div class="circular-image"></div>
            <h1>
                Hey, my name is Manish
            </h1>
            <p>
                I am Senior Software Engineer at Saltside.
                I like building things which can be used by millions of users worldwide.
                At Saltside I have built <i>Image Service</i> under microservice architecture to
                serve millions of images to our users. More details on it here: <a href='https://engineering.saltside.se/image-as-a-service-eb8bbf77213b'
                    target='_'><b>Image Service</b></a>
            </p>
            <p>
                I develop solutions from end to end (Design, Development, Deployment, Monitoring).
                I love solving problems which seem impossible at first. My interests include building
                distributed system, solving problems at large scale.
            </p>
            <p>
                To contact, shoot me an email at <a href="mailto:ma@gmail.comnishrocksag">manishrocksag@gmail.com</a>.
                Here are my <a href='http://github.com/manishrocksag' target='_'>Github</a> and
                <a href='http://in.linkedin.com/in/manishrocksag/' target='_'>LinkedIn</a> accounts.
            </p>
            <p>My resume can be downloaded from here: <a href='/resume' target='_'>resume</a>
            </p>
        </div>
    </div>
</body>

</html>